.listCard {
  background-color: var(--grey-1);
  border-radius: 0.25rem;

  width: 100%;
  min-height: 5.4375rem;

  display: flex;
  justify-content: space-between;

  border-left: 5px solid var(--grey-2);

  padding: 1.125rem;

  animation: fadeInLeft 0.5s;

  cursor: pointer;
}
.listCard:hover {
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.082);
}
.colorGreen {
  border-left: 5px solid var(--color-secondary-1);

}
.contentLeft {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.contentLeft p {
  font-size: 1rem;
  font-weight: 700;
  color: var(--grey-4);
}
.contentLeft span {
  font-size: 0.75rem;
  font-weight: 400;

  color: var(--grey-3);
}
.contentRight {
  display: flex;
  gap: 25px;
}
.contentRight span {
  font-size: 0.75rem;
  font-weight: 400;

  color: var(--grey-4);
}
.contentRight button {
  width: 1.375rem;
  height: 1.375rem;

  background-color: transparent;
}
